<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <title>Homepage</title>

  <meta charset="utf-8"/>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
   
 <div class="container"> 
   
   <div class="nav"><h2>    Link </h2>
  <ul>
  <li>sign in</li>
  <li>search </li>
  <li>review/poll</li>
  <li>about me</li>
</ul>
   </div>
  <div class="main"><h1>Blog Blog</h1>
  <h3> Share Your words with the World. </h3>
  
  {% block content %}
  {% endblock %}



   </div>
  </div>
  </body>
</html>
