{% extends 'blog/base.html' %} 

{% block content %}
  {% for post in posts %} 
  <div class= post>
      
      <div class=mytext><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
     <div class= date> <p>published: {{ post.published_date }}</p>
    </div>
  </div>
  </div>
 
{% endfor %}
<p>Advertisement: Need a set of wheels while you're in town? Use Ollie to pair your perfect vacation with a stylish, affordable bike rental.Here <a href="cities.html">list</a> of cities where you can find us. </p>
<video align="centre" width="90%" height="300" controls>
  <source src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-1/ollie.mp4" type="video/mp4">
</video> 
{% endblock %}
